## Investigate some data types in Python

### Numeric data types

#### Integers

Whole numbers, negative, positive and zero.

In [1]:
a = 5

We can use Python's ```type()``` function to determine
the data type of a varible.

In [2]:
type(a)

int

In [3]:
b = 0

In [4]:
type(b)

int

#### Floating point numbers or floats

Decimal numbers, can be represented in scientific notation.

In [6]:
c = 0.02

In [7]:
type(c)

float

Floats can be defined with scientific notation, either small e or uppercase E can be used

In [8]:
d = 1e3
d

1000.0

In [15]:
f = 0.83e-2
f

0.0083

In [11]:
type(d)

float

In [13]:
type(f)

float

Integers and floats can be converted to the other data type with ```int()``` and ```float()```

In [16]:
g = 4

In [17]:
type(g)

int

In [18]:
h = float(g)
type(h)

float

In [20]:
k = 8.4
l = int(k)
l

8

In [22]:
k = 8.6
l = int(k)
l

8

#### Complex Numbers

Complex numbers have a real and imaginary term. Complex numbers in Python are defined with the ```j``` operator.

In [23]:
m = 2 + 3j
type(m)

complex

In [24]:
m = 2 + 3 j

SyntaxError: invalid syntax (<ipython-input-24-0fc5a67c756a>, line 1)

In [25]:
m = 2 + 3i

SyntaxError: invalid syntax (<ipython-input-25-a022fe95cb9c>, line 1)

Both upper case ```J``` and lowercase ```j``` produce complex numbers

In [29]:
n = 2 + 3J

In [30]:
type(n)

complex

All of the numeric data types can be combined with mathematical operators

In [31]:
a = 5.1
b = 4
c = 2 + 3j
a + b + c

(11.1+3j)

### Strings

strings are made of letters, symbols numbers and spaces. In Python, strings are defined by either single quotes ```' '```  or double quotes ```" "```.

In [47]:
s = "problem"
type(s)

str

In [49]:
s = "It's a problem"
s

"It's a problem"

In [50]:
s = 'I did not say "problem"'
s

'I did not say "problem"'

Just like lists and tuples, strings can be indexed

In [82]:
s = 'problem'
s[3]

'b'

In [83]:
Just like tuples, stings are an imutable data type

SyntaxError: invalid syntax (<ipython-input-83-1e967de9cb59>, line 1)

In [63]:
s[0] = 'P'

TypeError: 'str' object does not support item assignment

### Boolean

A boolean value is either True or False. In Python boolean variables are assigned with the words ```True``` or ```false```.

In [64]:
r = True
type(r)

bool

```True``` and ```False``` must be CAPITALIZED

In [68]:
r = true
r

NameError: name 'true' is not defined

Other data types can be converted to boolean values with the ```bool()``` function.

In [74]:
a = bool(-5)
a

True

In [75]:
b = bool(0.0)
b

False

In [76]:
c = [4,5]
bool(c)

True

In [77]:
d = [] #an empty list
bool(d)

False

In [81]:
t = ()
bool(t)
type(t)

tuple

### Container data types or data structures

Container data types can store 1 or more values. In Python, the container data types can store values of different data types.

#### Lists

Lists contain one or more values, list is defined with square brackets ```[ ]```. Items in lists are separated by commas.

In [53]:
c = [4, 0.33, 3 - 4j]

In [54]:
c = [4]
type(c)

list

#### Tuple

Tuple can contain one or more values, tuple is defined with parenthesis ```( )```. Items in tuples are separated by commas.

In [55]:
q = (3,)
type(q)

tuple

In [56]:
t = (3,5,7)
type(t)

tuple

Both lists and tuples can be indexed

In [57]:
l = [7,8,9]
t = (3,5,7)

# value = variable[index]
t[0]

3

In [58]:
l[1]

8

We can assign values into data structures by index

In [59]:
l = [7,8,9]
l[0]

7

In [60]:
# change 8 to 10
l[1]=10
l

[7, 10, 9]

Lists are a mutable data structure, you can change the elements in a list. Tuples are an imutable data structure, you can not change the values in a tuple.

In [61]:
t = (3,5,7)
t[1]

5

In [62]:
t[1] = 10

TypeError: 'tuple' object does not support item assignment